*.o
*.pyc
*.kdev4
*.txt
*.ps
*.pdf
*.aux
*.dvi
*.toc
*.log
*.lof
*.lot
*.a
*.out
crap*
junk*
install*.log
**/src/dioctrl/Makefile
**/src/dioctrl/dioctrl
**/src/lcdmon/Makefile
**/src/lcdmon/lcdconfig
**/src/lcdmon/lcdmonitor
**/src/okbitloader/Makefile
**/src/okbitloader/okbfloader
**/src/okcounterd/Makefile
**/src/okcounterd/okcounterd
**/src/lockport
**/src/mjd
