[Unit]
Description=OpenTTP counter/timer
ConditionPathExists=/usr/local/lib/bitfiles/counter.bit

[Service]
Type=forking
ExecStart=/usr/local/sbin/okcounterd -b /home/cvgps/bitfiles/TTSCounterPPSCR.bit

[Install]
WantedBy=multi-user.target
